body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem
  ;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

.login-box {
  padding: 5% 20%;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.activity-chooser {
  padding: 15%;
  font-size: 25px;
}

.get-location-button {
  font-size: 15px;
}

/* button on facility page */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #cbd5db;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

  
  /** Page Search
   *************************************************** **/
  .search-result {
      padding:20px 0;
    border-bottom:#eee 1px solid;
  }
  .search-result h4 {
    margin:0;
    line-height:20px;
  }
  .search-result p {
    font-size:12px;
    margin:0; padding:0;
  }
  .search-result img {
    float:left; 
    margin-right:10px;
    margin-top:6px;
  }
  
  
  
  /**    17. Panel
   *************************************************** **/
  /* pannel */
  .panel {
    position:relative;
  
    background:transparent;
  
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
        border-radius: 0;
  
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        box-shadow: none;
  }
  .panel.fullscreen .accordion .panel-body,
  .panel.fullscreen .panel-group .panel-body {
    position:relative !important;
    top:auto !important;
    left:auto !important;
    right:auto !important;
    bottom:auto !important;
  }
    
  .panel.fullscreen .panel-footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
  }
  
  
  .panel>.panel-heading {
    text-transform: uppercase;
  
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
        border-radius: 0;
  }
  .panel>.panel-heading small {
    text-transform:none;
  }
  .panel>.panel-heading strong {
    font-family:Arial,Helvetica,Sans-Serif;
  }
  .panel>.panel-heading .buttons {
    display:inline-block;
    margin-top:-3px;
    margin-right:-8px;
  }
  .panel-default>.panel-heading {
    padding: 15px 15px;
    background:#fff;
  }
  .panel-default>.panel-heading small {
    color:#9E9E9E;
    font-size:12px;
    font-weight:300;
  }
  .panel-clean {
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
  
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
        border-radius: 0;
  }
  .panel-clean>.panel-heading {
    padding: 11px 15px;
    background:#fff !important;
    color:#000;	
    border-bottom: #eee 1px solid;
  }
  .panel>.panel-heading .btn {
    margin-bottom: 0 !important;
  }
  
  .panel>.panel-heading .progress {
    background-color:#ddd;
  }
  
  .panel>.panel-heading .pagination {
    margin:-5px;
  }
  
  .panel-default {
    border:0;
  }
  
  .panel-light {
    border:rgba(0,0,0,0.1) 1px solid;
  }
  .panel-light>.panel-heading {
    padding: 11px 15px;
    background:transaprent;
    border-bottom:rgba(0,0,0,0.1) 1px solid;
  }
  
  .panel-heading a.opt>.fa {
      display: inline-block;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      margin-right: 2px;
      padding: 5px;
      position: relative;
      text-align: right;
      top: -1px;
  }
  
  .panel-heading>label>.form-control {
    display:inline-block;
    margin-top:-8px;
    margin-right:0;
    height:30px;
    padding:0 15px;
  }
  .panel-heading ul.options>li>a {
    color:#999;
  }
  .panel-heading ul.options>li>a:hover {
    color:#333;
  }
  .panel-title a {
    text-decoration:none;
    display:block;
    color:#333;
  }
  
  .panel-body {
    background-color:#fff;
    padding: 15px;
  
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
        border-radius: 0;
  }
  .panel-body.panel-row {
    padding:8px;
  }
  
  .panel-footer {
    font-size:12px;
    border-top:rgba(0,0,0,0.02) 1px solid;
    background-color:rgba(0255,255,255,1);
  
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
        border-radius: 0;
  }
  
  .text-default {
      color:#c6c6c6 !important;
  }
  .text-danger {
    color:#b92c28 !important;
  }
  .text-warning {
    color:#e38d13 !important;
  }
  .text-info {
    color:#28a4c9 !important;
  }
  .text-primary {
    color:#245580 !important;
  }
  .text-success {
    color:#02B700 !important;
  }