{% extends 'layout.html' %}

{% block content %}
<h1>Directions</h1>
<div class="col-md-2 mt-2 text-left" style="margin-left: -15px;">
    <button type="button" class="btn btn-outline-secondary" style="width: 250px;" onclick="history.back()">Back to Facility Information</button>
</div>
<br>
<iframe
    width="750"
    height="500"
    class="center"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/directions?key=YOUR_API_KEY
    &origin={{clat}}, {{clong}}
    &destination={{lat}}, {{long}}"
    allowfullscreen>
</iframe>
{% endblock %}