{% extends 'layout.html' %}

{% block content %}

<!-- {{lat}}<br>{{long}}<br>{{result}} -->

<div id="content" class="container">
    <div class="panel panel-default">
    <div class="panel-body">
        <h6 class="nomargin"> 
            Top 3 results
        </h6>
        <hr class="nomargin-bottom margin-top-10">
        <!-- SEARCH RESULTS -->
        {% for res in result %}
        <div class="clearfix search-result"><!-- item -->
            <h4><a href="{{url_for('eaterymap', type=result[res], name=result[res]['name'], st=result[res]['st'])}}">{{ result[res]['name'] }}</a></h4>
            <small class="text-success">Distance: {{ result[res]['dist'] }}m</small>
            <p>{{result[res]['healthieroptions']}}</p>
        </div><!-- /item -->
        {% endfor %}
        <!-- /SEARCH RESULTS -->
    
    
    </div>
    </div>
    
</div>

{% endblock %}