{% extends 'layout.html' %}

{% block content %}
  <!-- 
    <p>test: {{ lat }}<br>{{ long }}</p>
  -->

  <h1 class="text-center">{{ selected_facility_list[3][1:-1] }}</h1>
  <h1 style="margin-bottom: 40px;">
  </h1>
  <!-- <p>Selected Facility GID: {{ selected_facility_list[2] }}</p>
  <p>{{ selected_facility_list[0] }}, {{ selected_facility_list[1] }}</p> -->
  
  <div class="container middle">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="row">
            <div class="row">
              <div class="col-md-2 mt-2">
                <button type="button" class="btn button-17 mr-auto" onclick="window.location.href='{{ url_for('search', source='facility_info') }}'">Back to searches</button>
              </div>              
              {% if current_user.is_authenticated %}
              <div class="col-md-10 text-right mt-2">
                <form method="post" action="{{ url_for('save_favorite', lat=lat, long=long) }}">
                  <input type="hidden" name="selected_facility_list_gid" value="{{ selected_facility_list[2] }}">
                      <button type="submit" class="btn btn-success" name="add_favorite" value="1">Add to Favorites</button>
                      <button type="submit" class="btn btn-danger" name="remove_favorite" value="1">Remove from Favorites</button>
                </form>
              </div>
              {% endif %}
            </div>
            
          <h1 style="margin-bottom: 25px;"></h1>
          <div class="col-md-1 text-left mt-0">
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='https://members.myactivesg.com/bookfacility';">Book</button>
          </div>          
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Amenities:</h5>
            <p class="card-text">{{ selected_facility_list[4][1:-1] }}</p>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Weather:</h5>
            <p class="card-text">{{region}} - {{forecast}}</p>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Air Quality (µg/m<sup>3</sup>):</h5>
            <p class="card-text">{{psiarea}} - {{airquality}} ({{airdescriptor}})</p>
            <p1 class="card-text">{{airadvisory}}</p1>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Contact No:</h5>
            <p class="card-text">{{ selected_facility_list[6][1:-1] }}</p>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
          <a href="{{ url_for('parking', lat=lat, long=long) }}" class="btn button-17 mr-auto">Parking</a>
          <a href="{{ url_for('directions', name=selected_facility_list[3][1:-1], lat=lat, long=long)}}" class="btn button-17 mx-auto">Directions</a>
          <a href="{{ url_for('eateries', lat=lat, long=long) }}" class="btn button-17 ml-auto">Food</a>
        </div>
        <div style="height: 50px;"></div>

      </div>
    </div>
  </div>

{% endblock %}