{% extends "layout.html" %}
{% block content %}

  <div class="row activity-chooser">
    <div class="col-md-6">
      <label for="activities">Activity:</label>
        <select class="selectpicker" data-live-search="true" name="activities" id="activities">
        {% for sport in sports %}
            <option>{{ sport }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <label for="location">Location:</label>
        <select class="selectpicker" data-live-search="true" name="location" id="location">
        {% for location in locations %}
            <option>{{ location }}</option>
        {% endfor %}
      </select>
    
      <button class="get-location-button" onclick="getLocation()">Get my location</button>

      <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position) {
        alert("Latitude: " + position.coords.latitude + 
        ", Longitude: " + position.coords.longitude);
        var location = position.coords.latitude + position.coords.longitude; // add function to store location data next time
      }
      </script>
    </div>
  </div>

  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-dark btn-lg search-btn">Search</button>
  </div>
  

    <!-- {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %} -->
{% endblock content %}