{% extends 'layout.html' %}

{% block content %}

<!-- <p>{{ res }}<br>{{ name }}<br>{{ cpno }}<br>{{ cpdata }}</p> -->
<div class="col-md-2 mt-2 text-left" style="margin-left: -15px;">
  <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Back</button>
</div>
<br>
<iframe
    width="500"
    height="400"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCs85_IULmdNSTUj21h_m7FK-15Z1F6V4U
    &q={{name}}+Carpark+{{cpno}}"
    allowfullscreen>
</iframe>

<table class="table table-bordered table-active" style="width:45%">
  <thead>
    <tr>
      <td style="width:40%; text-align:center;"><b>Carpark Availability:</b></td>
      <td style="text-align: center"><b>{{availability}}</b></td>
    </tr>
  </thead>
</table>
<p>*SportsGoWhere uses the Carpark Availability API from data.gov.sg, which may not provide carpark availability information for <b>all</b> carparks.</p>



{% endblock %}