{% extends 'layout.html' %}

{% block content %}

<!-- <p>{{ res }}<br>{{ name }}<br>{{ cpno }}<br>{{ cpdata }}</p> -->
<iframe
    width="500"
    height="400"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCs85_IULmdNSTUj21h_m7FK-15Z1F6V4U
    &q={{name}}+Carpark+{{cpno}}"
    allowfullscreen>
</iframe>

<table class="table table-bordered table-active" style="width:45%">
  <thead>
    <tr>
      <td style="width:40%; text-align:center;"><b>Carpark Availability:</b></td>
      <td style="text-align: center"><b>{{availability}}</b></td>
    </tr>
  </thead>
</table>
<p>*SportsGoWhere uses the Carpark Availability API from data.gov.sg, which is being updated regularly in real-time.
  As such, carpark availability information might not always be readily available.</p>



{% endblock %}