{% extends 'layout.html' %}

{% block content %}

<p>{{ res }}<br>{{ name }}<br>{{ cpno }}<br>{{ cpdata }}</p>
<iframe
    width="500"
    height="400"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCs85_IULmdNSTUj21h_m7FK-15Z1F6V4U
    &q={{name}}+Carpark+{{cpno}}"
    allowfullscreen>
</iframe>

<table class="table table-bordered table-dark" style="width:45%">
    <tbody>
      <tr>
        <td style="width:40%">Carpark Availability:</td>
        <td>{{availability}}</td>
      </tr>
    </tbody>
  </table>


{% endblock %}