{% extends "layout.html" %}
{% block content %}
    <!-- CHECKING VARIABLES (for debugging)
    <p>
        {{ activity }}
        {{ location }}
        {{ locationLat }}
        {{ locationLong }}
        <br>

        {% for res in result %}
            {{ res[2] }}<br>
        {% endfor %}
    </p>
    CHECKING VARIABLES (for debugging) -->

    <div id="content" class="container">
        <div class="panel panel-default">
        <div class="panel-body">
            <h1>Nearest Sports Facilities</h1>
            <p>Click on any of these sports facilities to view the facility's information.</p>
            <div class="col-md-2 mt-2 text-left" style="margin-left: -15px;">
                <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Back to Home</button>
            </div>             
            <hr class="nomargin-bottom margin-top-10">
            <h6 class="nomargin"> 
                {{ resCount }} results:
            </h6>
            <!-- SEARCH RESULTS -->
            {% for res in result %}
            <div class="clearfix search-result"><!-- item -->
                <h4><a href="{{url_for('facility_info', type=[res])}}">{{ res[3] }}</a></h4>
                <small class="text-success">Distance: {{ res[7] }}km</small>
                <p>Amenities: {{ res[4] }}</p>
            </div><!-- /item -->
            {% endfor %}
            <!-- /SEARCH RESULTS -->
        
        
        </div>
        </div>
        
        </div>
{% endblock content %}