{% extends 'layout.html' %}

{% block content %}
<h1>Current Weather:</h1>
<p></p>
<form action="/weather_cur" method="POST" id="my-form">
    <select class="form-select" data-live-search="true" name="selected" id="selected" aria-label=".form-select-lg example" onchange="submitForm()">
        {% for forecast in forecasts %}
        {% if forecast["area"] == prevselection %}
        <option selected>{{ forecast["area"] }}</option>
        {% else %}
        <option>{{ forecast["area"] }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <br>
    {% if areaforecast %}
    <table class="table table-bordered table-light" style="width:20%">
        <thead class="table-primary">
            <tr>
              <th scope="col" style="width:20%">Weather:</th>
              <td scope="col" class="text-center">{{areaforecast}}</td>
            </tr>
        </thead>
    </table>  
    {% endif %}
</form>
<script>
    function submitForm() {
        document.getElementById("my-form").submit();
    }
</script>

{% endblock %}